.pupImage {
  max-height: 200px;
}

body {
  background-color:burlywood;
}

.indCard {
  background-color: brown;
  margin: 2%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-color:sienna;
  border-width: 10px;
  border-style: groove;
  height: 400px;
  width: 400px;
}

.main{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  margin-bottom: 10px;
}

body {
  text-align: center;
}

.singleContainer {
  background-color: brown;
}

.search {
  margin-bottom: 5px;
  margin-left: 10px;
}

.addPlayer {
  margin-bottom: 5px;
}

.singleImage {
  max-height: 500px;
}
